/*
Színkókod:
  Vörös - #C22F17
  Szürke - #B9B9B9
  Fehér - #FFFFFF
  Barna - #D1C3B7
  Fekete - #000000

Fontok:
  font-family: 'Livvic', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Marcellus', serif;
  font-family: 'Cinzel Decorative', cursive;
*/

body {
    max-width: 800px;
    margin: auto;
    height:auto;
    font-family: 'Livvic', sans-serif;
}

#logoCont {
  position:fixed;
  top:0;
  width:800px;
  height:105px;
  background-color: #D1C3B7;
  z-index: 3;
  border-radius: 5px;
}

#hText {
  position: relative;
  top:-132px;
  font-family: 'Marcellus', serif;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  
}

/* => Fejléc kép <= */
#logo {
  width:100px;
  margin-left:2%;
  border-radius: 50px;
  padding-top: 4px;
  /* Feketefehérré alakítás */
  -webkit-filter: grayscale(100);
  filter: grayscale(100);
}

#logo2 {
  position: absolute;
  top: -2px;
  left: 685px;
  width:100px;
  border-radius: 70px;
  padding-top: 4px;
  /* Feketefehérré alakítás */
  -webkit-filter: grayscale(100);
  filter:grayscale(100);
  /* Kép tükrözése */
  transform:scaleX(-1);
  -webkit-transform:scaleX(-1); 
}

#news {
  margin-top: 100px;
  height:300px;
}


/* Dojo logók */
.logo {
  position:absolute;
  width:200px;
  display: block;
  float: left;
  margin:50px;
  border-radius:50%;
}

/* SlideShow elemek */
slider {
  display: block;
  width: 800px;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

slider > * {
  position: absolute;
  top:100px;
  display: block;
  width:100%;
  height:300px;
  animation: slide 12s infinite;
  overflow: hidden;
}

slide:nth-child(1) {
  left:0%;
  animation-delay: -1s;
  background-image: url(assets/img1.jpg) ;  /* első kép url-je*/
  background-size: cover;
  background-position: center;
}

slide:nth-child(2) {
  animation-delay: 2s;
  background-image: url(assets/img2.jpg) ;  /* második kép url-je*/
  background-size: cover;
  background-position: center;
}

slide:nth-child(3) {
  animation-delay: 5s;
  background-image: url(assets/img3.jpg) ;  /* harmadik kép url-je*/
  background-size: cover;
  background-position: center;
}

slide:nth-child(4) {
  animation-delay: 8s;
  background-image: url(assets/img4.jpg) ;  /* negyedik kép url-je*/
  background-size: cover;
  background-position: center;
}

slide p {
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  text-align: center;
  display: inline-block;
  width:100%;
  margin-top:200px;
  text-shadow: 2px 2px 2px #000000 ;
}

@keyframes slide {
  0% { left: 100%; width: 100%;}
  5% { left: 0%;}
  25% { left: 0%;}
  30% { left: -100%; width: 100%;}
  30.001% { left: -100%; width: 0%;}
  100% { left: 100%; width: 0%;}
}

/*  */
#dojos {
  position:relative; 
  top:410px;
  width:800px;
}

/* Dojok adatai */
.dojo {
  position:static;
  width:800px;
  height:auto;
  top:410px;
  border-radius:20px;
  background-color: ;
}

.textBlock {
  position:relative;
  left:300px;
  width:450px;
  height:auto;
  padding-left:5px;
}

/* A textblokkon belüli indentálás és szöveg igazítás */
.tab {
  margin-left:15px;
  margin-top:1px;
}

.dojoName {
  font-family: 'Marcellus', serif;
  font-weight: 400;
}

.dojoDescription {
  margin-bottom: 1px;
  padding-bottom: 1px;
  
}

.socialM {
  position:static;
  text-align: center;
  width:450px;
  height:75px;
}

.socialM, li {
  display: inline-block;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  
}

.socialM, li, a {
  position:relative;
  top:-12.5px;
  display: inline-block;
  font-size: 40px;
  color:#C22F17 ;
}

footer {
  display: block;
  position: relative;
  text-align: center;
  bottom: -420px;
  background-color: #D1C3B7;
  height:50px;
  border-radius: 5px;
}

footer, p {
  padding-top:0.1px;
}
